body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border-bottom: 2px solid;
}

input:focus {
  outline: none;
}

button {
  border: 2px solid;
  font-family: "Muli", sans-serif;
  font-weight: 700;
}
